@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.
<div class="jumbotron">
    <p>Demo</p>
    <a id="subscribe" class="btn btn-primary btn-lg" href="#" role="button"></a>
    <a id="unsubscribe" class="btn btn-primary btn-lg" href="#" role="button"></a>

    <a id="send" class="btn btn-danger btn-lg" href="#" role="button">Test Push Notification</a>

    <div id="subscriptionContext"> </div>
</div>
<SurveyPrompt Title="How is Blazor working for you?" />
