@page "/"
@inject HttpClient Http

<h1>Hello, world!</h1>

Welcome to your new app.
<div class="jumbotron">
    <PushMessageSubscription TeamId="123"/>
    <AddToHomeScreenButton/>
    <div id="subscriptionContext"> </div>
</div>