@* @model List<Web.ViewModels.Team> *@
@* *@
@* @{ *@
@*     ViewData["Title"] = "Teams"; *@
@* } *@
@* *@
@* <div class="jumbotron"> *@
@*     <p>Alle teams</p> *@
@*     @Html.Partial("_Teams", Model) *@
@* </div> *@