@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <p>Demo</p>
    <a id="subscribe" class="btn btn-primary btn-lg" href="#" role="button"></a>
    <a id="unsubscribe" class="btn btn-primary btn-lg" href="#" role="button"></a>

    <a id="send" class="btn btn-danger btn-lg" href="#" role="button">Test Push Notification</a>

    <div id="subscriptionContext"> </div>
</div>